.btn {
	border: none;
	outline: none;
	background: var(--bet-pannel-main-color);
	color: var(--main-font-color);
	font-weight: bold;
}

.btn:hover {
	background: var(--bet-pannel-hover-color);
}

.btn:active {
	background: var(--bet-pannel-active-color);
}

.btn:disabled {
	background: var(--disabled-button-color);
}

.btnLeft {
	width: 30px;
	border-radius: 15px 0 0 15px;
	border-right: 1px solid var(--bet-panel-border-color);;
}

.btnRight {
	width: 30px;
	border-radius: 0 15px 15px 0;
	border-left: 1px solid var(--bet-panel-border-color);
}

.btnDouble {
	position: absolute;
	right: -50px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	margin-left: 10px;
}