@media screen and (min-width: 0px ){
	.wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.panel {
		display: flex;
		justify-content: center;
		position: relative;

		--panel-middle-width: 140px;
		--bet-height: 30px;
	}

	.betSt {
		width: var(--panel-middle-width);
		height: var(--bet-height);

		background: gold;
		text-align: center;
		line-height: var(--bet-height);
		font-size: 14px;
		font-weight: bold;
	}
}

@media screen and (min-width: 576px ){
	.panel {
		--panel-middle-width: 200px;
		--bet-height: 40px;
	}

	.betSt {
		font-size: 16px;
	}
}





