.btn {
	position: absolute;
	border: none;
	outline: none;

	width: 70px;
	height: 70px;
	border-radius: 35px;
	color: var(--main-font-color);
	font-weight: bold;
}


.start {
	background: var(--start-btn-main-color);
	right: -80px;
}

.start:hover {
	background: var(--start-btn-hover-color);
}


.stop {
	background: var(--stop-btn-main-color);
	left: -80px;
}

.stop:hover {
	background: var(--stop-btn-hover-color);
}


.hit {
	background: var(--hit-btn-main-color);
	right: -160px;
}

.hit:hover {
	background: var(--hit-btn-hover-color);
}


.btn:disabled {
	background: var(--disabled-button-color);
}