@media screen and (min-width: 0px ){
	.pareSt {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.empty {
		height: 95px;
	}
}

@media screen and (min-width: 768px ){
	.empty {
		height: 180px;
	}
}



