.card {
	width: 106px;
	height: 158px;
	padding: 6px 10px;
	border-radius: 8px;
	margin: 5px;

	font-size: 18px;
	font-family: 'Lexend Deca', sans-serif;
	background: var(--cards-background-color);
}


.pictureWrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75%;
}


.big {
	font-size: 100px;
}

