@media screen and (min-width: 0px ){
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		height: 7%;
	}

	.title {
		font-size: 20px;
	}
}

@media screen and (min-width: 768px ){
	.header {
		height: 7%;
	}

	.title {
		font-size: 36px;
	}
}