@media screen and (min-width: 0px ){
	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		height: 7%;
	}

	.title {
		font-size: 25px;
		font-family: 'Abril Fatface', cursive;
		letter-spacing: 5px;
		text-shadow: 1px 1px black;
	}
}

@media screen and (min-width: 768px ){
	.header {
		height: 7%;
	}

	.title {
		font-size: 40px;
		letter-spacing: 10px;
	}
}