@media screen and (min-width: 0px ){
	.wrap {
		flex: 1 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.win {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px ){
	.win {
		font-size: 20px;
	}
}