@media screen and (min-width: 0px ){
	.rules {
		text-align: center;
		font-size: 16px;
		font-family: 'Permanent Marker', cursive;
	}
}

@media screen and (min-width: 768px ){
	.rules {
		font-size: 25px;
	}
}


